*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #00c490;
}

.add-btn{
    padding: 10px;
    width: 500px;
    background: rgba(79, 4, 255, 0.5);
    border-radius: 10px;
    margin: 70px auto 50px;
    text-align: center;
    color: rgb(73, 32, 32);
    font-family:sans-serif;
    cursor: pointer;
}

.add-btn:hover{
    background: rgba(0, 247, 255, 0.8);
}

.container{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.book{
    padding: 30px;
    min-width: 200px;
    background: rgba(167, 34, 34, 0.5);
    height: 200px;
    border-radius: 12px;
    color: rgb(10, 5, 5);
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
    gap: 10px;
    margin-top: 100px;
}

.cross-btn{
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}


.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(34, 31, 192, 0.5);
    top: 0;
    left: 0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.add-book-form{
    width: 80vw;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#form-top{
    width: 80vw;
    height: 50px;
    background-color: rgb(255, 217, 0);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.hide-modal{
    display: none;
}

.show-modal{
    display: flex;
}

.input-ctn{
    width: 50vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
}

.book-title{
    width: 380px;
    padding: 10px;
    border: 1px solid white;
}

.add-book-btn{
    width: 120px;
    background-color: rgb(172, 213, 172);
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}